[submodule "src/deps/rtaudio"]
	path = src/deps/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "src/deps/libsndfile"]
	path = src/deps/libsndfile
	url = https://github.com/erikd/libsndfile.git
[submodule "src/deps/fltk"]
	path = src/deps/fltk
	url = git@github.com:fltk/fltk.git
